.contact__form {
	display: block;
	width: 100%;
	font-size: 1em;
	margin-bottom: 4em;
}

.contact__form--left {
	float: left;
	width: 47.5%;
}

.contact__form input {
	height: 2.5em;
	margin-bottom: 2em;
	width: 70%;
	border-radius: 0 3px 3px 0;
}

.contact__form--right {
	float: right;
	width: 47.5%;
	height: 100%;
}

.contact__form textarea {
	height: 13.5em;
	resize: none;
	width: 100%;
	padding: 1em;
	font-size: 1rem;
	line-height: 1.5;
	position: relative;
	top: 2.5em;;
	border-radius: 0 0 3px 3px;
	z-index: 1;
}

.contact__form--right div {
	position: relative;
}

.contact__form label {
	width: 30%;
	line-height: 1.9em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: .3em;
	padding-left: 1em;
	display: block;
	background-color: rgb( 240, 240, 240 );
	border-radius: 3px 0 0 3px;
	float: left;
	height: 2.5em;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}

.contact__form--content label {
	width: 100%;
	position: absolute;
	top: 0;
	border-radius: 3px 3px 0 0;
}

.champ {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	border: 1px solid rgb( 240, 240, 240 );
	font-size: 1em;
	padding: 0 2%;
}

.champ:focus + label {
	background-color: $mainColor;
	color: white;
}

.champ:focus {
	border-color: $mainColor;
}

.contact__form .send {
	width: 100%;
	padding: 1em;
	line-height: .5em;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid $mainColor;
	color: $mainColor;
	font-size: 1.2em;
	outline: none;
}

.contact__form .send:focus, .contact__form .send:hover {
	background-color: $mainColor;
	color: white;
	cursor: pointer;
}