/*     animations:     */

@keyframes rotate {
	from{
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		     -o-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		     -o-transform: rotate(180deg);
		        transform: rotate(180deg);	
	}
}

@keyframes enter_rotate {
	from{
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		     -o-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		     -o-transform: rotate(180deg);
		        transform: rotate(180deg);	
	}
}

@keyframes appear_menu {
	from{
		-webkit-transform: translatex(-20em);
		   -moz-transform: translatex(-20em);
		    -ms-transform: translatex(-20em);
		     -o-transform: translatex(-20em);
		        transform: translatex(-20em);
	}
	to{
		-webkit-transform: translatex(0em);
		   -moz-transform: translatex(0em);
		    -ms-transform: translatex(0em);
		     -o-transform: translatex(0em);
		        transform: translatex(0em);
	}
}