/*     Menu:     */
.header {
	background-color: $mainColor;
	height: 4em;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.centerZone {
	max-width: 1100px;
	margin: 0 auto;
}

.header__logo.show {
	display: inline-block;
}

.header__logo {
	display: none;
	margin-top: .5em;
	margin-left: 10px;
	width: 3em;
	height: 3em;
	text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
	background: rgba(0, 0, 0, 0) url("../img/logo_lp.svg") no-repeat scroll 0 0 / 3em 3em;
	animation: enter_rotate .3s;
}

.header__logo:hover {
	animation: rotate .3s;
}

.mainMenu {
	float: right;
	height: 4em;
	line-height: 4em;
}

.mainMenu__item {
	display: inline-block;
	width:	120px;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	-webkit-transition: background-color .3s ease;
	   -moz-transition: background-color .3s ease;
	    -ms-transition: background-color .3s ease;
	     -o-transition: background-color .3s ease;
	        transition: background-color .3s ease;
}

.mainMenu__item.active {
	background-color: $activeColor;
}

.mainMenu__item:hover {
	background-color: $secondColor;
}

.mainMenu__item:focus {
	background-color: $secondColor;
	outline: none;
}



/*     HomeZone:     */
.topPresentation {
	background-color: $mainColor;
	height: 30em; 
	position: fixed;
	width: 100%;
	z-index: -1;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.topPresentation .centerZone img {
	display: block;
	float: left;
	height: 20em;
	margin-top: 2.5em;
}

.topPresentation__title1 {
	display: block;
	font-size: 4.2em;
	color: white;
	font-weight: bold;
	padding-top: 2em;
	margin-left: 50%;
}

.topPresentation__title2 {
	display: block;
	font-size: 2.5em;
	color: white;
	margin-top: 0.5em;
	margin-left: 50%;
}