@media screen and (max-width: 570px) {
	/* Page projet */
	.pancakesDesc img {
		width: 50%;
	}

	/* Page projet */
	body .mainMenu {
		display: block;
		position: fixed;
		top: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		background-color: $mainColor;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}
	.contact label {
		width: 35%;
	}
	.contact__form--content label {
		width: 100%;	
	}
	.contact input {
		width: 65%;
	}
	.mainMenu__item {
		display: block;
		width: 100%;
		background-color: $mainColor;
	}
	body .topPresentation .centerZone img {
		height: 10em;
	}
	body .topPresentation .centerZone h1 {
		font-size: 1.2em;
		margin-top: 2em;
	}
	.topPresentation {
		height: 22em; 
		padding-top: 1em;
	}
	.topPresentation h1 {
		text-align: center;
	}
	.section.aboutMe {
		margin-top: 22em;
	}
	body .aboutMe .right {
	    max-width: 100%;
	}
	.aboutMe__right--first:before {
		display: none;
	}

	.aboutMe__right--last:after {
		display: none;
	}
	body .topPresentation__title1 {
	    font-size: 2em;
	    font-weight: bold;
	    margin: auto;
	    padding-top: 2em;
	}
	body .topPresentation__title2 {
	    font-size: 1.2em;
	    margin: auto;
	    margin-top: 0.5em;
	}
	.aboutMe .pictureZone {
		width: 12em;
		height: 12em;
	}
	.aboutMe img {
		left: 5em;
		top: -2em;
	}
	/* Changer les losangesZones: */
	.aboutMe__skills--elm {
	    float: left;
	    margin-bottom: 2em;
	    margin-right: 10%;
	    width: 45%;
	}
	.aboutMe__skills--elm:nth-child(2n) {
	    float: left;
	    margin-bottom: 2em;
	    margin-right: auto;
	    width: 45%;
	}
	.works {
		text-align: center;
	}
	.works__switchProject {
		position: static;
		overflow: hidden;
		margin: auto;
		margin-bottom: 1em;
		display: inline-block;
	}
	.contact a {
	    float: none;
	    width: 100%;
	    margin-bottom: 1.5em;
	}
	/* Petit menu */
	.header .hambMenu {
		display: block;
		float: right;
		height: 3em;
		width: 3em;
		margin-right: 1em;
		position: relative;
		cursor: pointer;
	}
	.littleMenu .hambMenu span {
		visibility: hidden;
	}
	.littleMenu .hambMenu span:before {
		visibility: visible;
		top: 0;
		-webkit-transform: rotate( 45deg );
		-moz-transform: rotate( 45deg );
		-ms-transform: rotate( 45deg );
		-o-transform: rotate( 45deg );
		transform: rotate( 45deg );
	}
	.littleMenu .hambMenu span:after {
		visibility: visible;
		top: 0;
		-webkit-transform: rotate( -45deg );
		-moz-transform: rotate( -45deg );
		-ms-transform: rotate( -45deg );
		-o-transform: rotate( -45deg );
		transform: rotate( -45deg );
	}
	.hambMenu span, .hambMenu span:before, .hambMenu span:after {
		-webkit-transition: all .3s ease;
		   -moz-transition: all .3s ease;
		    -ms-transition: all .3s ease;
		     -o-transition: all .3s ease;
		        transition: all .3s ease;
	    border-radius: 5px;
	    height: 5px;
	    width: 100%;
	    background: white;
	    position: absolute;
	    display: block;
	    content: '';
	    top: 60%;
	}
	.hambMenu span:before {
	    top: 15px;
	}
	.hambMenu span:after {
	    top: -15px;
	}
	.littleMenu .mainMenu {
		top: 4em;
	}
	.works .project {
	    width: 100%;
	}
}

@media screen and (max-width: 570px) and (max-height: 320px) {
	.mainMenu__item {
		float: left;
		width: 50%;
	}
}

@media screen and (min-width: 570px) and (max-width: 824px) {
	/* Page projet */
	.pancakesDesc img {
		width: 33.33333%;
	}
	/* Page projet */
	.topPresentation {
		height: 25em; 
	}
	.aboutMe .pictureZone {
	width: 20em;
	height: 20em;
	}
	.aboutMe img {
		left: 6em;
		top: -5em;
	}
	.aboutMe__skills--elm {
	    float: left;
	    margin-bottom: 3.5em;
	    margin-right: 6.66666666666667%;
	    width: 20%;
	}
	.aboutMe__skills--elm:nth-child(4n) {
	    margin-right: auto;
	}
	.works .project {
	    width: 50%;
	}
}

@media screen and (max-width: 824px) {
	/* Page projets */
	.infoProject .right {
		max-width: 100%;
		float: none;
		margin-top: 3em;
	}
	.infoProject .left {
		max-width: 100%;
		float: none;
	}
	.tshirtDesc img {
		float: none;
		margin: auto;
		margin-bottom: 1em;
		width: 80%;
	}
	/* fin page projets */
	.topPresentation .centerZone img {
		height: 15em;
	}
	.topPresentation .centerZone h1 {
		font-size: 0.7em;
		margin-top: 2em;
	}
	.contact__form--left {
	    float: none;
	    width: auto;
	}
	.contact__form--right {
	    float: none;
	    width: auto;
	}
	.contact .send {
		margin-top: 3em;
	}
	.aboutMe .pictureZone {
		margin: auto;
		border-radius: 10px;
		overflow: hidden;
		border: 1px solid $mainColor;
		-webkit-transform: rotate( 45deg );
		   -moz-transform: rotate( 45deg );
		    -ms-transform: rotate( 45deg );
		     -o-transform: rotate( 45deg );
		        transform: rotate( 45deg );
		position: relative;
		margin-bottom: 5em;
	}
	.aboutMe__skills--item:last-child {
	    opacity: 1;
		top: 0em;
	}
}

@media screen and (min-width: 825px) and (max-width: 960px) {
	.works .project {
	    width: 50%;
	}
	.aboutMe .pictureZone {
		margin: auto;
		border-radius: 10px;
		overflow: hidden;
		width: 20em;
		height: 20em;
		border: 1px solid $mainColor;
		-webkit-transform: rotate( 45deg );
		   -moz-transform: rotate( 45deg );
		    -ms-transform: rotate( 45deg );
		     -o-transform: rotate( 45deg );
		        transform: rotate( 45deg );
		position: relative;
		margin-bottom: 5em;
	}
	.aboutMe img {
		left: 6em;
		top: -5em;
	}
	.topPresentation__title1 {
	    font-size: 3.5em;
	    padding-top: 2.5em;
	}
	.topPresentation__title2 {
	    font-size: 2em;
	}
	.aboutMe__skills--elm {
	    float: left;
	    margin-bottom: 3.5em;
	    margin-right: 6.66666666666667%;
	    width: 20%;
	}
	.aboutMe__skills--elm:nth-child(4n) {
	    margin-right: auto;
	}
}

@media screen and (max-width: 960px) {
	.topPresentation h1 {
		text-align: center;
	}
	.centerZone {
		padding: auto;
	}
	.aboutMe .left {
		width: auto;
		max-width: 100%;
		float: none;
		margin: auto;
		padding-top: 2em;
	}
	.aboutMe .right {
		width: auto;
		max-width: 80%;
		float: none;
		margin: auto;
		padding-top: 8em;
	}
	.aboutMe .right p {
		margin-bottom: 1em;
		line-height: 1.5em;
		position: relative;
		margin-right: auto;
	}
	.aboutMe img {
		width: 100%;
		border-bottom: none;
		position: absolute;
		-webkit-transform: rotate( -45deg );
		   -moz-transform: rotate( -45deg );
		    -ms-transform: rotate( -45deg );
		     -o-transform: rotate( -45deg );
		        transform: rotate( -45deg );
	}
	.aboutMe__left--cv {
		border-radius: 10px;
	}
	.section {
		padding-left: 5%;
		padding-right: 5%;

	}
	.section.works {
		padding: 0;
	}
	.works .centerZone {
		padding-left: 5%;
		padding-right: 5%;
	}
	.topPresentation .centerZone img {
		margin-left: 0;
	}
}

@media screen and (max-width: 1151px) and(orientation:landscape){
	.aboutMe__skills--item:last-child {
	    opacity: 1;
		top: 0em;
	}
}

@media screen and (max-width: 415px) {
	body .topPresentation .centerZone {
		padding: 0;
	}
	body .topPresentation .centerZone img {
	    height: 5em;
	    margin-top: 0;
	}
	body .topPresentation .centerZone h1 {
		font-size: 1.2em;
		margin-top: 2em;
	}
	body .topPresentation__title1 {
		padding-top: 0;
	}
	.topPresentation {
		height: 10em; 
		padding-top: 0;
	}
	.section.aboutMe {
	    margin-top: 10em;
	}
}