$mainColor : #22A7F0;
$transparancyColor : rgba( 34, 167, 240, 0.8 );
$secondColor : #3F6C99;
$activeColor : #3498DB;
$baseFont : "Dosis", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;


$niveau_psd : 70%;
$niveau_ai : 80%;
$niveau_id : 75%;
$niveau_pr : 35%;
$niveau_html : 75%;
$niveau_css : 80%;
$niveau_js : 60%;
$niveau_php : 55%;