/*
Author name: Loic Parent
Year: 2015
*/


@import "reset";
@import "variables";
@import "functions";
@import "header";
@import "about";
@import "skills";
@import "works";
@import "contact";
@import "formulaire";
@import "infoProjet";
@import "responsive";


/*     utils:     */

body {
	font-family: $baseFont;
}

.hambMenu {
	display: none;
}

.section {
	padding-top: 3em;
}

.content {
	overflow: hidden;
}

.title2 {
	color: $mainColor;
	font-size: 2em;
	margin-bottom: 1em;
}

/*     mettre en place le clear:     */

.clear {
	clear: both;
    display: block;
}

.hidden {
	position: absolute;
	left: 5000px;
}

/*     footer:     */
.footer {
	background-color: $mainColor;
	color: white;
	height: 2em;
	line-height: 2em;
	text-align: center;
}

.footer a {
	color: white;
	text-decoration: none;
}
